<html>
  <body>
    <h1>Workstack</h1>
    Logged in as {{user.email}}. <a href="{{logout_url}}">logout</a><br>
    <h3>Commands</h3>
    <table>
    <tr><td><span style="background-color:#FFFFAA">PUSH</span> task_title</td><td>Create and move down to subtask</td></tr>
    <tr><td><span style="background-color:#FFFFAA">POP</span></td><td>Finish task and move up to parent</td></tr>
    <tr><td><span style="background-color:#FFFFAA">UP</span></td><td>Move up to parent without finishing current task</td></tr>
    <tr><td><span style="background-color:#FFFFAA">TODO</span> task_title</td><td>Create subtask, but do not move to it</td></tr>
    <tr><td><span style="background-color:#FFFFAA">COMMENT</span> comment</td><td>Log comment for current task</td></tr>
    <tr><td><span style="background-color:#FFFFAA">SWITCH</span> uuid</td><td>Switch current task to task with uuid</td></tr>
    <tr><td><span style="background-color:#FFFFAA">PURPOSE</span> parent_uuid [child_uuid]</td><td>Set purpose of child_uuid to parent_uuid. If no child_uuid given, sets purpose of current task.</td></tr>
    </table>
    <br>
    <form method=POST action="command"><input type="text" size="100" name="command"><input type="submit" value="post"></form>
    <h3>Current Task</h3>
    {% for todo in todos %}
    <pre style="background-color:#FFFFAA;margin-left:{{stack|length}}em;margin-top:0px;margin-bottom:0px;"><a href="task/{{todo.uuid}}">{{todo.title }}</a> [switch to {{todo.uuid}}]</pre>
    {% endfor %}
    {% for task in stack %}
    <pre style="{% if forloop.first %}outline:black solid thin;{% endif %}background-color:#AAFFAA;margin-left:{{task.level}}em;margin-top:0px;margin-bottom:0px;"><a href="task/{{task.uuid}}">{{ task.title }}<br></a></pre>
    {% endfor %}
    
    <h3>Log</h3>
    {% for command in commands %}
    <pre style="margin:0px"><a href="task/{{command.task.uuid}}">{{command.task.uuid|slice:":7"}}...{{command.task.uuid|slice:"-7:"}}</a> {{command.created|date:"Y/m/d H:i:s"}} <span style="background-color:#FFFFAA">{{command.root}}</span> {{command.args}}</pre>
    {% endfor %}
    <a href="/?offset={{offset}}">more</a>
  </body>
</html>